@import url(./fonts.css);
@import url(./tailwind.css);
:root {
    --d-black: #222222;
    --white:#ffffff;
    --primary: #037BBD;
    --bg-gr: linear-gradient(120deg,#037BBD, #0A3176);
    --ho-bg-gr: linear-gradient(300deg,#037BBD, #0A3176);
}
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.bg{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url('./../images/green-woman-energy-department-interior_1253-741.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    /* background-image: url('./../images/set-black-background.jpg'); */
}
.heading{
    font-size: 24px;
    color: var(--d-black);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.f-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.f-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-start{
    display: block;
    width: 100%;
    text-align: start;
}
.txt-flow{
    overflow: hidden;
    text-wrap: ellipsis;
}

button{
    width: 100%;
    padding: 6px;
    background: var(--bg-gr);
    color: var(--white);
    transition: all .1s ease;
    font-family: ;
}
button:hover{
    background: var(--ho-bg-gr);
    color: var(--white);
}
button:active{
    background: var(--bg-gr);
    color: var(--white);
}